*{
    font-family: 'EB Garamond', serif;
}

.list-first li {
margin-left: 20%;
width: calc(100% + 10px) ;
width: 100%;
}

.far, .fab, .fas, .icon-head{
    font-size: 30px;
    margin-right: 25px;
}

.block-1{
    margin-left: 10%;
    margin-top: 20%;
}

.icon-head{
    width: 5%;
    height: 50%;
}

.last-icon{
    margin-right: 125px;
}

.block-1-head{
    margin-left: 5%;
}

.block-2{
    margin-right: 20%;
    margin-top: 10%;
}

.block-3{
    margin-left: 10%;
    margin-top: 10%;
}

.gallery-img{
    width: 100%;
    height: 350px;
}

.gallery-block{
    margin: 0% 8%;
}

.my-row{
    border-bottom: 1px solid grey;
}

.my-row-2{
    border-bottom: 1px solid white;
}
.cell-1{
    border-top: none;
    border-right: 1px solid grey;
}

.cell-4, .cell-2, .cell-5{
    border-right: 1px solid grey;
}

.info-block{
    margin: 0% 10%;
}

.input-marg{
    margin-right: 5%;
    margin-left:1%;
}

h5{
    font-weight: 700;
}

.radio-marg{
    margin: 0% 30%;
}

.button-w{
    width: 7%;
}

.footer img{
    width: 3%;
    height: 30%;
}

.icon-marg{
    margin: 0% 1%;
}

.icon-footer{
    width: 60px;
    height: 60px;
}

.write-block{
    width: 100%;
    display: flex; 
    flex-direction: row;
    
}

.write-block > div{
    width: 100%;
}

.input-marg{
    width: 80%;
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }

@media (min-width: 600px) and (max-width:850px) {
    .img-blocks{
        width: 100%;
        height: 100%;
    }

    .block-1, .block-2, .block-3{
        margin-top: 10%;
        margin-left: 5%;
    }

    .gallery-img{
        width: 100%;
    }

    .gallery-block{
        margin-left: 10%;
    }

    tr { display: block; float: left; }
    th, td { display: block; }

    .my-row{
        border-bottom: 1px solid white;
        border-right: 1px solid grey;
        margin-left: 1px;
    }

    .cell-4, .cell-2, .cell-5, .cell-1{
        border-right:none;
        border-bottom: 1px solid grey;
    }

    .radio-marg{
        margin: 0% 15%;
    }
    
    .button-w{
        width: 12%;
    }

    .footer img{
        width: 7%;
        height: 30%;
    }

    .icon-marg{
        margin-left: 3%;
    }

    .content {
        
        width: 100%;
        
      }

     
}   


@media (max-width: 600px){
    .main-blocks{
        display: flex;
        flex-direction: column-reverse;
    }

    .img-blocks{
        width: 100%;
    }

    .gallery-img{
        width: 100%;
    }

    .gallery-block{
        margin-left: 5%;
    }


    tr { display: block; float: left; }
    th, td { display: block; }

    table{
        margin-left: 1%;
    }
    .my-row, .my-row-2{
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        margin-left: 15%;
    }

   .cell-4, .cell-2, .cell-3, .cell-5, .cell-1{
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .write-block{
        width: 100%;
        display: flex; 
        flex-direction: column;
        
    }
    
    .write-block > div{
        width: 100%;
    }
    
    .input-marg{
        width: 100%;
    }


    .contact-section{
        display: flex;
        flex-direction: column;
    }
    .radio-marg{
        margin-left: 0%;
        margin-right: 0%;
    }
    .radio-marg-sec{
        margin-left: 15%;
        margin-right: 0%;
    }

    .button-w{
        width: 22%;
    }

    .content img{
        width: 100%;
    }
}
