*{
    font-family: 'EB Garamond', serif;
}

.list-first li {
margin-left: 20%;
width: calc(100% + 10px) ;
width: 100%;
}

.far, .fab, .icon-head{
    font-size: 20px;
    margin-right: 25px;
}

.block-1{
    margin-left: 10%;
    margin-top: 20%;
}

.icon-head{
    width: 6%;
    height: 35%;
}

.last-icon{
    margin-right: 175px;
}

.block-1-head{
    margin-left: 5%;
}

.block-2{
    margin-right: 20%;
    margin-top: 10%;
}

.block-3{
    margin-left: 10%;
    margin-top: 10%;
}

.gallery-img{
    width: 20%;
    height: 350px;
}

.gallery-block{
    margin-left: 15%;
}

.my-row{
    border-bottom: 1px solid grey;
}

.cell-1{
    border-top: none;
    border-right: 1px solid grey;
}